<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./src/output.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Library</title>
</head>
<body>
    <h1>Welcome to the Online Library</h1>
    <p>Use the search function to find books in our collection.</p>
    <input type="text" id="searchInput" placeholder="Enter book title or author">
    <button onclick="searchBook()">Search</button>
    <script src="/frontend/static/script.js"></script>

    <div id="results"></div>
</body>
</html>